body {
    font-family: sans-serif;
    background-color: #191919;
	color: white;
	margin:0;
	height: 100%;
	width: 100%;
	background-image: url("http://res.cloudinary.com/davehorler/image/upload/v1498110692/dark-triangles_geklwo.png");
}

header {
	text-align: center;
	
	
	font-size: 1em;
	
	
    width:90%;
    max-width:1200px;
	margin:0 auto;
	
	
}

#year {
	font-weight: normal;
	color: #777;
	
    margin-top: 0.3em;
	
}

h1{
    margin-bottom: 0.3em;
	font-size: 2em;
}

h2 {
	color:#1881cb;
	font-size: 1.5em;
}

#davediv {
}

#davediv img {
    position: absolute;
    top: 0px;
    right: 0px;
}

h3 {
	display: block;
	font-size: 1.17em;
	margin-left: 0;
	margin-right: 0;
	font-weight: bold;
}

article {
	line-height: 1.7em;
    width:90%;
    max-width:1200px;
	margin:0 auto;
	/*margin: 0 0 40px;
    max-width: 960px;
	max-width: 680px;*/
	
	font-size: 1em;
}

.text {
    margin-top: 1.67em;
    margin-bottom: 1.67em;
	max-width: 550px;
	margin:0 auto;
	background-color: #282828;
	border-left: 4px solid #1881cb;
	padding: 8px 16px;
	
	font-size: 1em;
}

.titlep {
	
	color: #999;
	text-align: left;
	
    columns: 4 30em;
	
	max-width: 100%;
	
	width: 50%
	
	
	
	font-size: 1em;
	margin: 0 auto;
	
	
}

p {    

	font-size: 1em;
}

nav {
	padding:30px;
    background-color: #000;
	text-align:center
}

#row
{
}

img {

	margin:0 auto;
	max-width: 100%;
	width: 960;
}

.portfolioimage {
	    margin-top: 1.67em;
    margin-bottom: 1.67em;
	
}

.frames {
	max-width: 100%;
	margin-left: auto;
    margin-right: auto;
}

.date {
	
}



nav ul
{
margin: 0;
padding: 0;
list-style-type: none;
}

nav ul li { display: inline; }
nav ul li a {
	font-weight: bold;.
	text-decoration: none;
	padding: 0 3em 0 0;
}

/* ######################LINKS#################### */
/* unvisited link */
a:link {
    color: #1881cb;
	text-decoration: none;
}

/* visited link */
a:visited {
    color: #1881cb;
	text-decoration: none;
}

/* mouse over link */
a:hover {
    color: #fff;
	text-decoration: underline;
}

/* selected link */
a:active {
    color: #fff;
	text-decoration: underline;
}


iframe {
}

/* ######################  FOOTER  #################### */


footer {
	position: relative;
    margin: 20px 0 0 0;
    padding: 30px 0 30px 0;
    text-align: center;
    color: white;
	background-color: #000;
}